EXPRESS_SERVER=localhost
EXPRESS_PORT=3001
SSL_CERT=./certs/localhost.crt
SSL_KEY=./certs/localhost.key

# varible for initiate production mode;
# NODE_ENV = production;

# variable for connect watson
# your SERVICEURL may be different if your Assistant is using a location other than Dallas (ie api.us-east)

# SaaS
WATSON_ASSISTANT_SERVICEURL=https://api.us-south.assistant.watson.cloud.ibm.com
WATSON_ASSISTANT_VERSION=2021-11-27
WATSON_ASSISTANT_APIKEY=
WATSON_ASSISTANT_DRAFT_ENVIRONMENT_ID=

# CP4D
# WATSON_ASSISTANT_CP4D=true
# WATSON_ASSISTANT_SERVICEURL=https://<Host>/assistant/cpd-instance-wa/instances/<Instance Number>/api
# WATSON_ASSISTANT_VERSION=2021-11-27
# WATSON_ASSISTANT_DRAFT_ENVIRONMENT_ID=
# WATSON_ASSISTANT_USERNAME=<CP4D Username>
# WATSON_ASSISTANT_PASSWORD=<CP4D Password>
# WATSON_ASSISTANT_CP4D_URL=https://<Host>/icp4d-api/v1/authorize

# Delay for NS response to give time for intermediate response to complete (CP4D response times are very short)
ADD_DELAY_TO_NS_RESPONSE=false
WORDS_PER_MINUTE_DELAY=150


